$common-color: #FFF;
$fisrt-background-color: #292c32;
$comment-color-1: #4b596c;
$comment-color-2: #58ad52;
$error-color: #f11114;
body {
    font-family: Roboto;
    color: $common-color;
    .gray-back {
        background-color: $fisrt-background-color;
    }
    header,footer {
        .logo {
            img {
                width: 100%;
            }
        }
        padding-top: 50px;
    }
    footer {
        background-color: $fisrt-background-color;
        padding-bottom: 75px;

        .social-link-wrapper {
            a {
                img {
                    width: 100%;
                }
            }
        }
    }

    section.first {
        font-size: 14px;

        padding-top: 75px;
        padding-bottom: 75px;

        .contact-icon-wrapper img {
            width: 100%;
            margin-bottom: 25px;
        }

        .form-group {
            label {
                .required {
                    color: #be393b;
                    font-weight: 500;
                }
            }
            .form-control:focus,
            .form-control {
                border-radius: 9px;
                border: 1px solid rgba(255, 255, 255, 0.52);
                background-color: $fisrt-background-color;
                color: $common-color;
                outline: none;
                box-shadow: none;
            }
            .form-control:focus {
                border: 1px solid rgba(190, 57, 59, 0.49);
            }
        }
        .btn-comment-send:hover,
        .btn-comment-send:focus,
        .btn-comment-send {
            border-radius: 9px;
            background-color: #be393b;
            padding: 10px 15px;

            color: $common-color;
            outline: none;
        }
    }
    section.second {

        text-align: center;
        padding-top: 80px;
        padding-bottom: 90px;

        h2 {
            color: #37414e;
            font-weight: 500;

            margin-bottom: 80px;
        }
        .comment {
            font-size: 18px;
            margin-bottom: 20px;

            .header {
                background-color: $comment-color-1;
                padding: 10px;
                font-weight: 700;
            }
            .body {
                background-color: #deebde;
                .email {
                    color: #6d737b;
                    padding: 20px;

                }
                .message {
                    color: #767582;
                    font-weight: 500;
                    padding: 20px;
                }
            }
        }
        .comment:nth-child(2n) {
            .header {
                background-color: $comment-color-2;
            }
        }
    }
}
.error {
    color: $error-color;
}
